.clothoid-corner {
    
    background: rgba(136, 136, 136, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;

    



    clip-path: polygon(6.945061em 0em,
            calc(100% - 6.945061em) 0em,
            calc(100% - 6.215873em) 0.003442em,
            calc(100% - 5.487074em) 0.025272em,
            calc(100% - 4.760333em) 0.082315em,
            calc(100% - 4.039637em) 0.191149em,
            calc(100% - 3.333753em) 0.372168em,
            calc(100% - 2.656185em) 0.639069em,
            calc(100% - 2.024846em) 1.000883em,
            calc(100% - 1.463209em) 1.463209em,
            calc(100% - 1.000883em) 2.024846em,
            calc(100% - 0.639069em) 2.656185em,
            calc(100% - 0.372168em) 3.333753em,
            calc(100% - 0.191149em) 4.039637em,
            calc(100% - 0.082315em) 4.760333em,
            calc(100% - 0.025272em) 5.487074em,
            calc(100% - 0.003442em) 6.215873em,
            calc(100% - 0.003442em) calc(100% - 6.215873em),
            calc(100% - 0.025272em) calc(100% - 5.487074em),
            calc(100% - 0.082315em) calc(100% - 4.760333em),
            calc(100% - 0.191149em) calc(100% - 4.039637em),
            calc(100% - 0.372168em) calc(100% - 3.333753em),
            calc(100% - 0.639069em) calc(100% - 2.656185em),
            calc(100% - 1.000883em) calc(100% - 2.024846em),
            calc(100% - 1.463209em) calc(100% - 1.463209em),
            calc(100% - 2.024846em) calc(100% - 1.000883em),
            calc(100% - 2.656185em) calc(100% - 0.639069em),
            calc(100% - 3.333753em) calc(100% - 0.372168em),
            calc(100% - 4.039637em) calc(100% - 0.191149em),
            calc(100% - 4.760333em) calc(100% - 0.082315em),
            calc(100% - 5.487074em) calc(100% - 0.025272em),
            calc(100% - 6.215873em) calc(100% - 0.003442em),
            calc(100% - 6.945061em) 100%,
            6.945061em 100%,
            6.215873em calc(100% - 0.003442em),
            5.487074em calc(100% - 0.025272em),
            4.760333em calc(100% - 0.082315em),
            4.039637em calc(100% - 0.191149em),
            3.333753em calc(100% - 0.372168em),
            2.656185em calc(100% - 0.639069em),
            2.024846em calc(100% - 1.000883em),
            1.463209em calc(100% - 1.463209em),
            1.000883em calc(100% - 2.024846em),
            0.639069em calc(100% - 2.656185em),
            0.372168em calc(100% - 3.333753em),
            0.191149em calc(100% - 4.039637em),
            0.082315em calc(100% - 4.760333em),
            0.025272em calc(100% - 5.487074em),
            0.003442em calc(100% - 6.215873em),
            0.003442em 6.215873em,
            0.025272em 5.487074em,
            0.082315em 4.760333em,
            0.191149em 4.039637em,
            0.372168em 3.333753em,
            0.639069em 2.656185em,
            1.000883em 2.024846em,
            1.463209em 1.463209em,
            2.024846em 1.000883em,
            2.656185em 0.639069em,
            3.333753em 0.372168em,
            4.039637em 0.191149em,
            4.760333em 0.082315em,
            5.487074em 0.025272em,
            6.215873em 0.003442em,
            6.945061em 0em);
            
}

.boxShadow{
    -webkit-box-shadow:0px 0px 101px 25px rgba(152,88,184,0.71);
-moz-box-shadow: 0px 0px 101px 25px rgba(152,88,184,0.71);
box-shadow: 0px 0px 101px 25px rgba(152,88,184,0.71);
    
}